
.recipe_image {
  width: 300px;
  height: 220px;
  border-radius: 10px;
}

.recipe_image img {
  width: 300px;
  height: 220px;
  border-radius: 10px;
  border: 1px solid #c4c4c4;
}

.recipe_image img:hover {
  opacity: 0.9;
  animation: post-ani 10s linear 1;
}


.recipe_name {
  margin-bottom: 10px;
}

.recipe_name span {
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}


@keyframes post-ani {
  2% {
    transform: scale(1.02);
  }
}