.header {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;

}


.sign {
  /* border: 1px solid red; */
  margin-bottom: 20px;
  font-family: 'NanumSquare';
  font-weight: 700;
  margin-left: 1200px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.logo {
  margin-right: 30px;
}

.logo img {
  width: 12rem;
  margin-top: -10px;


}

.flex_wrap {
  max-width: 1440px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  gap: 50px 0px;
  margin: 0 auto;
  margin-top: 200px;

}

.search input::placeholder {
  color: rgb(194, 194, 194);
}

.searchBar {
  border: 1.8px solid rgb(54, 32, 18);
  border-radius: 10px;
  width: 35rem;
  height: 2.8rem;
  font-family: 'LotteMartDream';
  font-size: 16px;
  font-weight: 500;
}

@keyframes post-ani {
  2% {
      transform: scale(1.03);
  }
}



.wikiBtn,
.cabinetBtn,
.recipeBtn,
.infoBtn {
  margin-left: 50px;
  margin-right: 50px;
}

.wikiBtn:hover,
.cabinetBtn:hover,
.recipeBtn:hover,
.infoBtn:hover {
  opacity: 1;
  animation: post-ani 10s linear 1;
}

.flexBox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
  /* border: 1px solid red; */


}

.wikiBtn img {
  width: 5rem;

}

.cabinetBtn img {
  width: 5rem;

}

.recipeBtn img {
  width: 5rem;

}

.infoBtn img {
  width: 5rem;

}